<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @status.user.full_name %>
</p>

<p>
  <b>Content:</b>
  <%= @status.content %>
</p>

<% if @status.document && @status.document.attachment? %>
  <span class="label label-info">Attachment</span>
  <%= link_to @status.document.attachment_file_name, @status.document.attachment.url %>
  <hr>
<% end %>

<div class="meta">
  <%= link_to 'Back', statuses_path %>
  <% if signed_in? && @status.user == current_user %>
    |
    <%= link_to 'Edit', edit_status_path(@status) %>  |
    <%= link_to "Delete", @status, method: :delete, data: {confirm: "Are you sure you want to delete this status?"} %>
  <% end %>
</div>
